*{
    margin: 0;
    padding: 0;
}
/* nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    
}
.logo{

}
*/
.logo img{
    width: 32px;
    height: 32px;
} 